---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/Icons/LinkedinIcon.astro";
import GithubIcon from "../components/Icons/GithubIcon.astro";
import MailIcon from "../components/Icons/MailIcon.astro";
import Social from "../components/Social.astro";
import Experience from "../components/Experience.astro";
import CodeIcon from "../components/Icons/CodeIcon.astro";
import BriefcaseIcon from "../components/Icons/BriefcaseIcon.astro";
import Projects from "../components/Projects.astro";
import ReactIcon from "../components/Icons/ReactIcon.astro";
import NodejsIcon from "../components/Icons/NodejsIcon.astro";
import JavascriptIcon from "../components/Icons/JavascriptIcon.astro";
import TailwindIcon from "../components/Icons/TailwindIcon.astro";
import ReduxIcons from "../components/Icons/ReduxIcons.astro";
import MySqlIcon from "../components/Icons/MySqlIcon.astro";
import PostgreIcon from "../components/Icons/PostgreIcon.astro";
import PhpIcon from "../components/Icons/PhpIcon.astro";
import HtmlIcon from "../components/Icons/HtmlIcon.astro";
import CssIcon from "../components/Icons/CssIcon.astro";
import SequelizeIcon from "../components/Icons/SequelizeIcon.astro";
import AstroIcon from "../components/Icons/AstroIcon.astro";
import AboutIcon from "../components/Icons/AboutIcon.astro";
import CvIcon from '../components/Icons/CvIcon.astro'
---

<Layout title="Sergio Vallenari, Programador Web">
	<main class="p-2 fade-in">
		<SectionContainer class="mt-28" id="inicio">
			<img
				src="/Sergio.png"
				alt="sergio photo"
				class="rounded-full mx-auto size-96 object-cover mb-6"
			/>
			<h1
				class="text-3xl md:text-4xl lg:text-4xl xl:text-5xl font-bold md:flex md:flex-row gap-x-4 pb-10 text-pretty"
			>
				Hola! Soy <span class="text-red-600">Sergio</span>
				<a
					href="https://www.linkedin.com/in/sergiovallenari"
					target="_blank"
					class="flex justify-center items-center"
				>
					<Badge>Ready to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-90 text-pretty p-2">
				Desarrollador Web Junior con experiencia en <span
					class="font-bold text-red-400 opacity-80"
					>JavaScript, React, Node.js y Redux Toolkit</span
				>, así como en bases de datos relacionales como
				<span class="font-bold opacity-80">MySQL y PostgreSQL</span>.
				Destacado por habilidades colaborativas, contribuyendo al éxito
				del equipo y alcanzando objetivos compartidos.
			</h2>
			<nav class="flex md:flex-row flex-col md:gap-y-0 gap-y-2 gap-x-2 lg:gap-x-4 mt-8">
				<Social href="https://www.linkedin.com/in/sergiovallenari">
					<LinkedinIcon class="size-6" />
					Linkedin
				</Social>
				<Social href="https://github.com/SergioFVallenari">
					<GithubIcon class="size-6" />
					Github
				</Social>
				<Social href="mailto:vallenarisergio@gmail.com">
					<MailIcon class="size-6" />
					vallenarisergio@gmail.com
				</Social>
			</nav>
		</SectionContainer>
		<SectionContainer class="lg:my-32 mt-20">
			<hr class="mb-6">
			<h2
				class="text-4xl font-bold flex flex-row gap-x-4 pb-10 items-center"
			>
				Habilidades Técnicas
			</h2>
			<SectionContainer
				class="flex flex-wrap items-center justify-center gap-y-8 gap-x-8 slide-bottom"
			>
				<JavascriptIcon class="size-12 lg:size-20 rounded"/>
				<ReactIcon class="size-12 lg:size-20" />
				<NodejsIcon class="size-12 lg:size-20" />
				<TailwindIcon class="size-12 lg:size-20 bg-white rounded" />
				<ReduxIcons class="size-12 lg:size-20" />
				<MySqlIcon class="size-12 lg:size-20" />
				<PostgreIcon class="size-12 lg:size-20" />
				<PhpIcon class="size-12 lg:size-20 bg-[#AEB2D5] rounded" />
				<HtmlIcon class="size-12 lg:size-20" />
				<CssIcon class="size-12 lg:size-20" />
				<SequelizeIcon class="size-12 lg:size-20" />
				<AstroIcon class="size-12 lg:size-20" />
			</SectionContainer>
		</SectionContainer>
		<SectionContainer class="mt-20" id="experiencia">
			<hr class="mb-6">
			<h2
				class="text-4xl font-bold flex flex-row gap-x-4 pb-10 items-center"
			>
				<BriefcaseIcon class="size-6" />
				Experiencia IT
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer class="pt-32" id="proyectos">
			<hr class="mb-6">
			<h2
				class="text-4xl font-bold flex flex-row gap-x-4 pb-10 items-center"
			>
				<CodeIcon class="size-6" />
				Proyectos
			</h2>
			<Projects/>
		</SectionContainer>
		<SectionContainer id="sobre-mi" class="py-32">
			<hr class="mb-6">
			<h2
				class="text-4xl font-bold flex flex-row gap-x-4 pb-10 items-center"
			>
				<AboutIcon class="size-6" />
				Sobre mí
			</h2>
			<p class="text-xl opacity-90 text-pretty slide-bottom">
				Hola! Soy Sergio, músico y programador web. Comencé mi carrera como programador en el 2021 cuando pude comprarme mi primera PC, desde ese entonces fui estudiando de manera autodidacta, leyendo documentación o viendo videos por internet. Aprendí sobre <span class="font-bold text-red-600  dark:text-red-400 opacity-80">HTML, CSS y Javascript</span> lo cual me motivó para adentrarme en este maravilloso mundo.
				<br>En el 2022 hice una diplomatura en Programación Web Fullstack, adquiriendo asi conocimientos sobre <span class="font-bold text-red-600 dark:text-red-400 opacity-80">PHP y MySQL</span>.
				<br> 
				<br>
				Luego apliqué al bootcamp <span class="font-bold text-yellow-600">SoyHenry</span> en donde aprendi sobre <span class="font-bold text-red-600 dark:text-red-400 opacity-80">React, ExpressJs, NodeJs, Sequelize, PostgreSQL, Redux y más.</span> Tuve el honor de ganar el concurso a uno de los tres mejores proyectos integradores de este bootcamp y quedar seleccionado como el <span class="font-bold text-yellow-600">HENRY ROCKSTAR</span> de mi cohorte. Actualmente continúo reforzando mis conocimientos, aprendiendo nuevas tecnologías y creando proyectos personales y para clientes.
				<br>
				<br>
				<span class="flex"><CvIcon class="mx-4"/><a href="/SergioVallenari.pdf" target="_blank">Este es mi CV</a></span>
			</p>
		</SectionContainer>
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', function () {
    const fadeElements = document.querySelectorAll('.fade-in');
	const slideElementsLeft = document.querySelectorAll('.slide-left')
	const slideElementsBottom = document.querySelectorAll('.slide-bottom')

    const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.2
    };

    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.intersectionRatio > 0) {
                entry.target.classList.add('appear');
                observer.unobserve(entry.target);
            }
        });
    }, options);

    fadeElements.forEach(element => {
        observer.observe(element);
    });

	slideElementsLeft.forEach(element=>{
		observer.observe(element)
	})

	slideElementsBottom.forEach(element=>{
		observer.observe(element)
	})
});

</script>