<footer class="flex justify-between items-center w-full xl:w-[1120px] mx-auto rounded-full border border-black dark:border-gray-200 p-4 mb-2">
    <span class="py-2">© 2024 <a href="https://www.linkedin.com/in/sergiovallenari" target="_blank" class="hover:underline">Sergio Vallenari</a>
    </span>
    <div class="flex flex-row gap-x-6 lg:gap-x-10 opacity-80 ">
        <a href="#sobremi" class="hover:scale-110">Sobre mí</a>
        <a href="#" class="hover:scale-110">Contacto</a>
    </div>
</footer>

